body {
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
  url('https://images.unsplash.com/photo-1492724441997-5dc865305da7');
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(#0d6efd 0deg, #0d6efd 0deg, #eee 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
}
